
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:rgb(245, 245, 245);
}

.dark-mode {
    background: black;
    color: white;
}
.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px  ;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.1);

}

.nav-logo {
    display: flex;
    align-items: center;
    padding-left: 90px;
}

#logo {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
  font-weight:bold;
  font-style: normal;
}
.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-right: 110px;
    font-size: larger;
}

#features, #Download {
    padding: 10px;
}
    
button {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 17px;
    border:2px;
    font-weight: bolder;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
    color: white;

}
#message {
    filter: invert(100%);
}

section {
    display: flex;
    padding: 200px;
   padding-top: 130px;
}

.left-side {
    display: flex;
    flex-direction: column;
    font-size: 30px ;
    align-items: start;
    gap: 20px;
}

h1{
    font-size:70px;
}
#Launch{
    font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight:400;
  font-style: normal;
    opacity: 55%;

}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}
#google-play{
    width: 250px;
    height:250px;

}

#app-store {
    width: 270px;
    height: 110px;
}

.right-side{
    background: linear-gradient(to right, blue, purple);
    border-radius: 50%;

}
.right-side img {

    width: 590px;
    height: 581px;
    position: relative;
    z-index: 2;

}


#screen {
  width: 620px;
  height: 551px;
   position: absolute;
  left: 46.1%;
  top: 27.7%;
  border-radius: 45%;
  z-index: 1;
}


